apiVersion: v1
kind: Secret
metadata:
  name: pagerduty-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "y0ur-t0k3n",
      "user_token": "y0ur-t0k3n"
    }
